In [42]:
import numpy as np
import pandas as pd
books = pd.read_csv("BX-Books.csv", sep=';', encoding="latin-1", error_bad_lines=False)
users = pd.read_csv("BX-Users.csv", sep=';', encoding="latin-1", error_bad_lines=False)
ratings = pd.read_csv("BX-Book-Ratings.csv", sep=';', encoding="latin-1", error_bad_lines=False)

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version.


  exec(code_obj, self.user_global_ns, self.user_ns)
b'Skipping line 6452: expected 8 fields, saw 9\nSkipping line 43667: expected 8 fields, saw 10\nSkipping line 51751: expected 8 fields, saw 9\n'
b'Skipping line 92038: expected 8 fields, saw 9\nSkipping line 104319: expected 8 fields, saw 9\nSkipping line 121768: expected 8 fields, saw 9\n'
b'Skipping line 144058: expected 8 fields, saw 9\nSkipping line 150789: expected 8 fields, saw 9\nSkipping line 157128: expected 8 fields, saw 9\nSkipping line 180189: expected 8 fields, saw 9\nSkipping line 185738: expected 8 fields, saw 9\n'
b'Skipping line 209388: expected 8 fields, saw 9\nSkipping line 220626: expected 8 fields, saw 9\nSkipping line 227933: expected 8 fields, saw 11\nSkipping line 228957: expected 8 fields, saw 10\nSkipping line 245933: expected 8 fields, saw 9\nSkipping line 251296: expected 8 fields, saw 9\nSkipping line 259941: expected 8 fields, saw 9\nSkipping line 261529: expected 8 fields, saw 9\n'
/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [43]:
books = books[['ISBN', 'Book-Title', 'Book-Author', 'Year-Of-Publication', 'Publisher']]
books.rename(columns = {'Book-Title':'title', 'Book-Author':'author', 'Year-Of-Publication':'year', 'Publisher':'publisher'}, inplace=True)
users.rename(columns = {'User-ID':'user_id', 'Location':'location', 'Age':'age'}, inplace=True)
ratings.rename(columns = {'User-ID':'user_id', 'Book-Rating':'rating'}, inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:5047: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [44]:

x = ratings['user_id'].value_counts() > 200
y = x[x].index  #user_ids
print(y.shape)
ratings = ratings[ratings['user_id'].isin(y)]
ratings

(899,)

         user_id        ISBN  rating
1456      277427  002542730X      10
1457      277427  0026217457       0
1458      277427  003008685X       8
1459      277427  0030615321       0
1460      277427  0060002050       0
...          ...         ...     ...
1147612   275970  3829021860       0
1147613   275970  4770019572       0
1147614   275970   896086097       0
1147615   275970  9626340762       8
1147616   275970  9626344990       0

[526356 rows x 3 columns]

In [45]:
rating_with_books = ratings.merge(books, on='ISBN')
rating_with_books.head()

   user_id        ISBN  ...  year                  publisher
0   277427  002542730X  ...  1994  John Wiley &amp; Sons Inc
1     3363  002542730X  ...  1994  John Wiley &amp; Sons Inc
2    11676  002542730X  ...  1994  John Wiley &amp; Sons Inc
3    12538  002542730X  ...  1994  John Wiley &amp; Sons Inc
4    13552  002542730X  ...  1994  John Wiley &amp; Sons Inc

[5 rows x 7 columns]

In [46]:
number_rating = rating_with_books.groupby('title')['rating'].count().reset_index()
number_rating

                                                    title  rating
0        A Light in the Storm: The Civil War Diary of ...       2
1                                   Always Have Popsicles       1
2                    Apple Magic (The Collector's series)       1
3        Beyond IBM: Leadership Marketing and Finance ...       1
4        Clifford Visita El Hospital (Clifford El Gran...       1
...                                                   ...     ...
160264  Ãƒ?Ã‚?ber die Pflicht zum Ungehorsam gegen den S...       3
160265                                      Ãƒ?Ã‚?lpiraten.       1
160266                     Ãƒ?Ã‚?rger mit Produkt X. Roman.       1
160267                              Ãƒ?Ã‚?stlich der Berge.       1
160268                                  Ãƒ?Ã‚?thique en toc       1

[160269 rows x 2 columns]

In [47]:
number_rating.rename(columns= {'rating':'number_of_ratings'}, inplace=True)

In [48]:
final_rating = rating_with_books.merge(number_rating, on='title')
final_rating

        user_id  ... number_of_ratings
0        277427  ...                82
1          3363  ...                82
2         11676  ...                82
3         12538  ...                82
4         13552  ...                82
...         ...  ...               ...
487666   275970  ...                 1
487667   275970  ...                 1
487668   275970  ...                 1
487669   275970  ...                 1
487670   275970  ...                 1

[487671 rows x 8 columns]

In [49]:
final_rating = final_rating[final_rating['number_of_ratings'] >= 50]
final_rating

        user_id        ISBN  ...                  publisher number_of_ratings
0        277427  002542730X  ...  John Wiley &amp; Sons Inc                82
1          3363  002542730X  ...  John Wiley &amp; Sons Inc                82
2         11676  002542730X  ...  John Wiley &amp; Sons Inc                82
3         12538  002542730X  ...  John Wiley &amp; Sons Inc                82
4         13552  002542730X  ...  John Wiley &amp; Sons Inc                82
...         ...         ...  ...                        ...               ...
236701   255489  0553579983  ...                     Bantam                50
236702   256407  0553579983  ...                     Bantam                50
236703   257204  0553579983  ...                     Bantam                50
236704   261829  0553579983  ...                     Bantam                50
236705   273979  0553579983  ...                     Bantam                50

[61853 rows x 8 columns]

In [50]:
book_pivot = final_rating.pivot_table(columns= 'user_id', index='title', values = 'rating')

In [51]:
book_pivot.fillna(0, inplace = True)

In [52]:
book_pivot

user_id                                             254     ...  278418
title                                                       ...
1984                                                   9.0  ...     0.0
1st to Die: A Novel                                    0.0  ...     0.0
2nd Chance                                             0.0  ...     0.0
4 Blondes                                              0.0  ...     0.0
84 Charing Cross Road                                  0.0  ...     0.0
...                                                    ...  ...     ...
Year of Wonders                                        0.0  ...     0.0
You Belong To Me                                       0.0  ...     0.0
Zen and the Art of Motorcycle Maintenance: An I...     0.0  ...     0.0
Zoya                                                   0.0  ...     0.0
\O\" Is for Outlaw"                                    0.0  ...     0.0

[742 rows x 888 columns]

In [53]:
from scipy.sparse import csr_matrix
book_sparse = csr_matrix(book_pivot)

In [54]:
from sklearn.neighbors import NearestNeighbors
model = NearestNeighbors(algorithm = 'brute')
model.fit(book_sparse)

NearestNeighbors(algorithm='brute')

In [57]:
distances, suggestions = model.kneighbors(book_pivot.iloc[237, :].values.reshape(1,-1))
suggestions

array([[237, 240, 238, 241, 184]])

In [58]:
for i in range(len(suggestions)):
  print(book_pivot.index[suggestions[i]])

Index(['Harry Potter and the Chamber of Secrets (Book 2)',
       'Harry Potter and the Prisoner of Azkaban (Book 3)',
       'Harry Potter and the Goblet of Fire (Book 4)',
       'Harry Potter and the Sorcerer's Stone (Book 1)', 'Exclusive'],
      dtype='object', name='title')