In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.DataFrame({'user_0':[0,3,0,5,0,0,4,5,0,2], 'user_1':[0,0,3,2,5,0,4,0,3,0], 'user_2':[3,1,0,3,5,0,0,4,0,0], 'user_3':[4,3,4,2,0,0,0,2,0,0], 
                   'user_4':[2,0,0,0,0,4,4,3,5,0], 'user_5':[1,0,2,4,0,0,4,0,5,0], 'user_6':[2,0,0,3,0,4,3,3,0,0], 'user_7':[0,0,0,3,0,2,4,3,4,0], 
                   'user_8':[5,0,0,0,5,3,0,3,0,4], 'user_9':[1,0,2,0,4,0,4,3,0,0]}, index=['movie_0','movie_1','movie_2','movie_3','movie_4','movie_5','movie_6','movie_7','movie_8','movie_9'])

In [ ]:
df

Let's use NearestNeighbors() to calculate the distance between movies using **cosine similarity** and find the most similar movies for each movie.

In [ ]:
from sklearn.neighbors import NearestNeighbors

In [12]:
knn = NearestNeighbors(metric='cosine', algorithm='brute')
knn.fit(df.values)
distances, indices = knn.kneighbors(df.values, n_neighbors=4)

indices shows the nearest movies to each movie. Each row corresponds to the row in the df. The first element in a row is the most similar (nearest) movie. It is the movie itself. The second element is the second nearest, and the third is the third nearest. For example, in the first row [0,7,5], the nearest movie to 'movie_0' is itself, the second nearest movie is 'movie_7', and the third is 'movie_5'.

In [13]:
indices

array([[0, 7, 5, 4],
       [1, 3, 7, 2],
       [2, 1, 6, 0],
       [3, 6, 7, 1],
       [4, 0, 7, 9],
       [5, 7, 0, 6],
       [6, 8, 3, 7],
       [7, 3, 0, 6],
       [8, 6, 3, 5],
       [9, 0, 7, 4]])

distances shows the distance between movies. Each number in this matrix corresponds to the number in the indices matrix.

Let's present the info in the above matrices.

In [14]:
distances

array([[0.00000000e+00, 3.19586183e-01, 4.03404722e-01, 4.04534842e-01],
       [4.44089210e-16, 3.68421053e-01, 3.95436458e-01, 5.20766162e-01],
       [0.00000000e+00, 5.20766162e-01, 5.24329288e-01, 5.50533425e-01],
       [2.22044605e-16, 2.72367798e-01, 2.86615021e-01, 3.68421053e-01],
       [0.00000000e+00, 4.04534842e-01, 4.80655057e-01, 5.31192769e-01],
       [0.00000000e+00, 3.87174123e-01, 4.03404722e-01, 4.76277063e-01],
       [0.00000000e+00, 2.33726809e-01, 2.72367798e-01, 3.31352150e-01],
       [1.11022302e-16, 2.86615021e-01, 3.19586183e-01, 3.31352150e-01],
       [2.22044605e-16, 2.33726809e-01, 4.96677704e-01, 5.18028739e-01],
       [1.11022302e-16, 4.22649731e-01, 4.81455027e-01, 5.31192769e-01]])

In [11]:
for title in df.index:

  index_user_likes = df.index.tolist().index(title) # get an index for a movie
  sim_movies = indices[index_user_likes].tolist() # make list for similar movies
  movie_distances = distances[index_user_likes].tolist() # the list for distances of similar movies
  id_movie = sim_movies.index(index_user_likes) # get the position of the movie itself in indices and distances

  print('Similar Movies to '+str(df.index[index_user_likes])+':\n')


  sim_movies.remove(index_user_likes) # remove the movie itself in indices
  movie_distances.pop(id_movie) # remove the movie itself in distances

  j = 1
  
  for i in sim_movies:
    print(str(j)+': '+str(df.index[i])+', the distance with '+str(title)+': '+str(movie_distances[j-1]))
    j = j + 1
      
  print('\n')

Similar Movies to movie_0:

1: movie_7, the distance with movie_0: 0.3195861825602283
2: movie_5, the distance with movie_0: 0.40340472183738674


Similar Movies to movie_1:

1: movie_3, the distance with movie_1: 0.3684210526315791
2: movie_7, the distance with movie_1: 0.39543645824165696


Similar Movies to movie_2:

1: movie_1, the distance with movie_2: 0.5207661617014769
2: movie_6, the distance with movie_2: 0.5243292879915494


Similar Movies to movie_3:

1: movie_6, the distance with movie_3: 0.27236779788557686
2: movie_7, the distance with movie_3: 0.2866150207251553


Similar Movies to movie_4:

1: movie_0, the distance with movie_4: 0.40453484184315647
2: movie_7, the distance with movie_4: 0.4806550570967598


Similar Movies to movie_5:

1: movie_7, the distance with movie_5: 0.38717412297165876
2: movie_0, the distance with movie_5: 0.40340472183738674


Similar Movies to movie_6:

1: movie_8, the distance with movie_6: 0.23372680904614496
2: movie_3, the distance with movie_6: 0.27236779788557686


Similar Movies to movie_7:

1: movie_3, the distance with movie_7: 0.2866150207251553
2: movie_0, the distance with movie_7: 0.3195861825602283


Similar Movies to movie_8:

1: movie_6, the distance with movie_8: 0.23372680904614496
2: movie_3, the distance with movie_8: 0.49667770431528346


Similar Movies to movie_9:

1: movie_0, the distance with movie_9: 0.42264973081037427
2: movie_7, the distance with movie_9: 0.4814550271298651

In [15]:
# find the nearest neighbors using NearestNeighbors(n_neighbors=3)
number_neighbors = 3
knn = NearestNeighbors(metric='cosine', algorithm='brute')
knn.fit(df.values)
distances, indices = knn.kneighbors(df.values, n_neighbors=number_neighbors)

# copy df
df1 = df.copy()

# convert user_name to user_index
user_index = df.columns.tolist().index('user_4')

# t: movie_title, m: the row number of t in df
for m,t in list(enumerate(df.index)):
  
  # find movies without ratings by user_4
  if df.iloc[m, user_index] == 0:
    sim_movies = indices[m].tolist()
    movie_distances = distances[m].tolist()
    
    # Generally, this is the case: indices[3] = [3 6 7]. The movie itself is in the first place.
    # In this case, we take off 3 from the list. Then, indices[3] == [6 7] to have the nearest NEIGHBORS in the list. 
    if m in sim_movies:
      id_movie = sim_movies.index(m)
      sim_movies.remove(m)
      movie_distances.pop(id_movie) 

    # However, if the percentage of ratings in the dataset is very low, there are too many 0s in the dataset. 
    # Some movies have all 0 ratings and the movies with all 0s are considered the same movies by NearestNeighbors(). 
    # Then,even the movie itself cannot be included in the indices. 
    # For example, indices[3] = [2 4 7] is possible if movie_2, movie_3, movie_4, and movie_7 have all 0s for their ratings.
    # In that case, we take off the farthest movie in the list. Therefore, 7 is taken off from the list, then indices[3] == [2 4].
    else:
      sim_movies = sim_movies[:number_neighbors-1]
      movie_distances = movie_distances[:number_neighbors-1]
        
    # movie_similarty = 1 - movie_distance    
    movie_similarity = [1-x for x in movie_distances]
    movie_similarity_copy = movie_similarity.copy()
    nominator = 0

    # for each similar movie
    for s in range(0, len(movie_similarity)):
      
      # check if the rating of a similar movie is zero
      if df.iloc[sim_movies[s], user_index] == 0:

        # if the rating is zero, ignore the rating and the similarity in calculating the predicted rating
        if len(movie_similarity_copy) == (number_neighbors - 1):
          movie_similarity_copy.pop(s)
          
        else:
          movie_similarity_copy.pop(s-(len(movie_similarity)-len(movie_similarity_copy)))

      # if the rating is not zero, use the rating and similarity in the calculation
      else:
        nominator = nominator + movie_similarity[s]*df.iloc[sim_movies[s],user_index]

    # check if the number of the ratings with non-zero is positive
    if len(movie_similarity_copy) > 0:
      
      # check if the sum of the ratings of the similar movies is positive.
      if sum(movie_similarity_copy) > 0:
        predicted_r = nominator/sum(movie_similarity_copy)

      # Even if there are some movies for which the ratings are positive, some movies have zero similarity even though they are selected as similar movies.
      # in this case, the predicted rating becomes zero as well  
      else:
        predicted_r = 0

    # if all the ratings of the similar movies are zero, then predicted rating should be zero
    else:
      predicted_r = 0

  # place the predicted rating into the copy of the original dataset
    df1.iloc[m,user_index] = predicted_r

In [16]:
df1

         user_0  user_1  user_2  user_3  ...  user_6  user_7  user_8  user_9
movie_0       0       0       3       4  ...       2       0       5       1
movie_1       3       0       1       3  ...       0       0       0       0
movie_2       0       3       0       4  ...       0       0       0       2
movie_3       5       2       3       2  ...       3       3       0       0
movie_4       0       5       5       0  ...       0       0       5       4
movie_5       0       0       0       0  ...       4       2       3       0
movie_6       4       4       0       0  ...       3       4       0       4
movie_7       5       0       4       2  ...       3       3       3       3
movie_8       0       3       0       0  ...       0       4       0       0
movie_9       2       0       0       0  ...       0       0       4       0

[10 rows x 10 columns]

In [ ]:
def recommend_movies(user, num_recommended_movies):

  print('The list of the Movies {} Has Watched \n'.format(user))

  for m in df[df[user] > 0][user].index.tolist():
    print(m)
  
  print('\n')

  recommended_movies = []

  for m in df[df[user] == 0].index.tolist():

    index_df = df.index.tolist().index(m)
    predicted_rating = df1.iloc[index_df, df1.columns.tolist().index(user)]
    recommended_movies.append((m, predicted_rating))

  sorted_rm = sorted(recommended_movies, key=lambda x:x[1], reverse=True)
  
  print('The list of the Recommended Movies \n')
  rank = 1
  for recommended_movie in sorted_rm[:num_recommended_movies]:
    
    print('{}: {} - predicted rating:{}'.format(rank, recommended_movie[0], recommended_movie[1]))
    rank = rank + 1

In [17]:
def recommend_movies(user, num_recommended_movies):

  print('The list of the Movies {} Has Watched \n'.format(user))

  for m in df[df[user] > 0][user].index.tolist():
    print(m)
  
  print('\n')

  recommended_movies = []

  for m in df[df[user] == 0].index.tolist():

    index_df = df.index.tolist().index(m)
    predicted_rating = df1.iloc[index_df, df1.columns.tolist().index(user)]
    recommended_movies.append((m, predicted_rating))

  sorted_rm = sorted(recommended_movies, key=lambda x:x[1], reverse=True)
  
  print('The list of the Recommended Movies \n')
  rank = 1
  for recommended_movie in sorted_rm[:num_recommended_movies]:
    
    print('{}: {} - predicted rating:{}'.format(rank, recommended_movie[0], recommended_movie[1]))
    rank = rank + 1

In [19]:
recommend_movies('user_4',4)

The list of the Movies user_4 Has Watched

movie_0
movie_5
movie_6
movie_7
movie_8


The list of the Recommended Movies

1: movie_2 - predicted rating:4.0
2: movie_3 - predicted rating:3.504943460433221
3: movie_1 - predicted rating:3.0
4: movie_9 - predicted rating:2.473170201830165